* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    height: 700px;
    width: 100%;
    display: grid;
    grid-template-areas: "header header header"
                         "menu menu sidebar"
                         "content-left content-center sidebar"
                         "content-bottom footer footer";
    grid-template-rows: 50px 80px repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    justify-content: center;
}

.container div {
    background-color: blue;
}

.container .header {
    grid-area: header;
}

.container .menu {
    grid-area: menu;
}

.container .sidebar {
    grid-area: sidebar;
}

.container .content-left {
    grid-area: content-left;
}


.container .content-center {
    grid-area: content-center;
}


.container .content-bottom {
    grid-area: content-bottom;
}

.container .footer {
    grid-area: footer;
}