.wrapper {
   display: flex;
   flex-direction: column;
   width: 600px;
   margin: auto;
}

.row {
   display: flex;
}
.coll{
   display: flex;
   flex-direction:column;
   min-height: 50px;
   background: blue;
}
.cell {
   height: 50px;
   background: blue;
   margin: 10px;
}

.col-3 {
   flex-grow: 1;
}
.col{
   display: flex;
   flex-direction: column;
}

.col-1 {
   flex-grow: 1;
}

.col-2 {
    width: 64.5%;
}

.wd {
    width: 570px;
}