* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.top {
    background-color: #222533;
}

footer {
    margin-top: 50px;
}

.bottom {
    background-color: #171D22;
}

.bottom .wrap {
    padding-top: 20px;
    padding-bottom: 36px;
}

.wrap {
    width: 1168px;
    margin: auto;
    display: flex;
}

.wrap div {
    width: 270px;
    margin-right: 30px;
    padding-bottom: 14px;
}

.wrap div:last-child {
    margin-right: none;
}

.top .wrap div{
    margin-top: 24.5px;
    margin-bottom: 29px;
}

.bottom .wrap p {
    color: #A1B1BC;
    font-family: 'PT Sans';
    font-size: 15px;
    line-height: 24px;
    margin-top: 19px;
}

.bottom .wrap a {
    font-family: 'PT Sans';
    font-size: 15px;
    color: #1ABC9C;
    text-decoration: none;
    line-height: 24px;
}

.top .wrap h3 {
    font-family: 'PT Sans';
    color: white;
    line-height: 24px;
    font-size: 16px;
    margin-top: 100px;
    margin-bottom: 37px;
    font-weight: 100;
    letter-spacing: 4.5px;
}

.top .wrap h3::after {
    content: "";
    width: 70px;
    height: 3px;
    background-color: #1ABC9C;
    display: block;
}

.wrap div ul li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding-bottom: 11px;
}

.wrap div ul li::after {
    content: "";
    height: 1px;
    width: 100%;
    display: block;
    background-color: #343A47;
    margin: 10px 0 10px;
}

.wrap div ul li:last-child::after {
    display: none;
}

.wrap div ul li:first-child::after {
display: block;
}

.wrapper ul li:last-child{
    border-bottom: none;
    padding-bottom: 0px;
}

.wrap div ul li a {
    font-family: 'PT Sans';
    font-size: 16px;
    color: #ECF0F1;
    text-decoration: none;
    line-height: 24px;
}

.wrap ul li a:hover {
    color: #1ABC9C;
}

.wrap ul li span {
    font-family: 'PT Sans';
    font-size: 14px;
    color: #A1B1BC;
    text-decoration: none;
    line-height: 24px;
    padding-bottom: 3px;
}

.wrap .notes {
    font-family: 'PT Sans';
    font-size: 14px;
    line-height: 47px;
    color: #A1B1BC;
}

.wrap .notes p {
    margin-top: -18px;
    font-family: 'PT Sans';
    font-size: 15px;
    line-height: 24px;
}

.wrap .notes a {
    font-family: 'PT Sans';
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #1ABC9C;
    text-transform: uppercase;
    text-decoration: none;
}