* {
    margin: 0;
    padding: 0;
}

body {
    background: url(../img/1.png);
}

.first {
    background-color: #140E0E;
    opacity: 0.13;
    width: 100%;
    height: 100%;
    position: absolute;
}

.second {
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.81) 35%, rgba(0, 0, 0, 0.67) 55%, rgba(0, 0, 0, 0) 100%);
    opacity: 0.85;
    position: absolute;
    height: 100%;
    width: 100%;
}

.text {
    position: relative;
    top: 50%;
}

p {
    font-size: 200px;
    line-height: 250px;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Lobster';
}