main {
    width: 500px;
    margin: auto;
}

.row div {
    height: 100px;
    background-color: blue;
    margin-bottom: 20px;
}

.col-1,
.col-2,
.col-3 {
    margin-right: 20px;
}

.col-3 {
    width: 100%;
}

.col-1 {
    width: 153px;
    float: left;
}

.col-2 {
    width: 323px;
    float: left;
}

.row {
    clear: both;
}

.row div:last-child {
    margin-right: 0;
}