.badge {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: gray;
    margin-bottom: 30px;
    border-radius: 5px;
}

.label {
    position: absolute;
    background-color: red;
    color:white;
    height: 20px;
    right: 0px;
    top: 0px;
    transform: translate(50%, -50%);
    border-radius: 40px;
    text-align: center;
    padding: 2px 8px;
    border: 1px solid white; 
}