.message {
    position: absolute;
    top: 30px;
    right:30px;
    width: 430px;
    padding: 10px;
    border: 1px solid gray;
    font-family: Arial, Helvetica, sans-serif;
}

.message a {
    position: absolute;
    top: 20px;
    right: 20px;
    text-decoration: none;
}

.message p {
    width: 400px;
    display: inline-block;
    color: gray;
    margin: -30px 0 0 0;
}

.message h1 {
    position: relative;
top: -20px;
}
