.divider {
    height: 20px;
    position: relative;
}

.divider:after {
    content: '';
    border-bottom: 1px solid gray;
    width: 100%;
    display: block;
    position: absolute;
    top: 50%;
    z-index: 1;
}

.divider span {
    z-index:2;
    background-color: white;
    position: absolute;
    padding: 0px 20px;
    transform: translate(-50%);
    left:50%;
}